<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Peer Challenge</title>
    <script type="text/javascript" src="vendors/angular.min.js"></script>
    <script type="text/javascript" src="scripts/client.js" charset="utf-8"></script>
  </head>
  <body>
    <div ng-controller="createAssignment">
      <input type="text" name="studentNameIn" ng-model="studentNameIn" value="" placeholder="Student Name">
      <input type="text" name="assignmentIn" ng-model="assignmentIn" value="" placeholder="Assignment">
      <input type="text" name="scoreIn" value="" ng-model="scoreIn" placeholder="Score">
      <button type="button" name="submitIn" ng-click="addRecord();">Submit</button>
      <button type="button" name="getRecords" ng-click="populatePage();">Get Records</button>

      <table>
        <tr>
          <th>Student</th>
          <th>Score</th>
          <th>Assignment Submitted</th>
        </tr>
        <tr ng-repeat="student in allTheRecords">
          <td>{{student.student_name}}</td>
          <td>{{student.score}}</td>
          <td>{{student.assignment_number}}</td>
        </tr>
      </table>

    </div>
  </body>
</html>
