<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Peer Challenge</title>
    <script type="text/javascript" src="vendors/angular.min.js"></script>
    <script type="text/javascript" src="scripts/client.js" charset="utf-8"></script>
  </head>
  <body>
    <div ng-controller="createAssignment">
      <input type="text" name="studentNameIn" ng-model="studentNameIn" value="" placeholder="Student Name">
      <input type="text" name="assignmentIn" ng-model="assignmentIn" value="" placeholder="Assignment">
      <input type="text" name="scoreIn" value="" ng-model="scoreIn" placeholder="Score">
      <button type="button" name="submitIn" ng-click="addRecord()">Submit</button>


      <table>
        <tr>
          <th>Student</th>
          <th>Score</th>
          <th>Submitted</th>
        </tr>
        <tr ng-repeat="students in allTheAssignments">
          <td ng-model="studentNameOut"></td>
          <td ng-model="scoreOut"></td>
          <td ng-model="submitOut"></td>
        </tr>
      </table>    

    </div>
  </body>
</html>
